{% extends 'base.html' %}
{% load static %}

{% block title %}
  Список заявок
{% endblock %}

{% block content %}
  {% include 'orders/includes/switcher.html' %}
  {# <h3> Список Заявок: {{ cars_count }} ед. </h3> #}

  <div class="container">
    <table class="table table-light table-striped">
      <thead>
        <tr>
{#          <th>№ п/п</th>#}
          <th>Марка ТС</th>
          <th>ГРЗ</th>
          <th>Тип ТС</th>
          <th>Маршрут движения</th>
          <th>Время подачи на БПО</th>
          <th>Время подачи на скважину</th>
          <th>Количество часов</th>
          <th>Примечание</th>
        </tr>
      </thead>
      <tbody>
        {% for order in page_obj %}  {# нужно все переделывать под заявки #}
          <tr>
{#            <td>{{ forloop.counter|default_if_none:"" }}</td>#}
            <td>{{ order.brand|default_if_none:"" }}</td>
            <td>{{ order.reg_mark|default_if_none:"" }}</td>
            <td>{{ order.type_car|default_if_none:"" }}</td>
            <td>{{ order.route_movement|default_if_none:"" }}</td>
            <td>{{ order.time_delivery_car_on_base|default_if_none:"" }}</td>
            <td>{{ order.time_delivery_car_on_borehole|default_if_none:"" }}</td>
            <td>{{ order.quantity_hours|default_if_none:"" }}</td>
            <td>{{ order.note|default_if_none:"" }}</td>
          </tr>

        {% endfor %}
      </tbody>
    </table>

  {% include 'orders/includes/paginator.html' %}
  </div>
{% endblock %}
