{% load static %}
{% now 'Y' as current_year %}
{% now 'm' as current_month %}
{% now 'd' as current_day %}

<nav class="navbar" style="background-color: #6ca3be  "> {# 6CA3BEFF #}
  <div class="container">
   {# <a class="navbar-brand" href="{% url 'posts:index' %}"> --- Это ссылка через картинку на главную страницу #}
    {# Переделал временно ссылку на общий список транспорта #}
    <a class="navbar-brand" href="{% url 'orders:orders_list' current_year current_month current_day %}">
      <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      <span style='font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif '>
        <span style="color:#044a65"><b>ЭАТ</b></span>
      </span>
    </a>
{#      </a>   - --- закрытие ссылки через картинку выше #}


    {% comment %}
    Меню - список пунктов со стандартными классами Bootsrap.
    Класс nav-pills нужен для выделения активных пунктов
    {% endcomment %}


    <ul class="nav nav-pills" style="font-size: 18px">
      {% with request.resolver_match.view_name as view_name %}

      <li class="nav-item">
        <a class="nav-link link-dark
          {% if view_name  == 'orders:order_add' %}active{% endif %}"
           href="{% url 'orders:order_add' %}">Заявка
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link link-dark
          {% if view_name  == 'orders:orders_list' %}active{% endif %}"
           href="{% url 'orders:orders_list' current_year current_month current_day %}">Список заявок
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link link-dark
          {% if view_name  == 'cars:cars_list' %}active{% endif %}"
           href="{% url 'cars:cars_list' %}">Список транспорта
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link link-dark
          {% if view_name  == 'users:users_list' %}active{% endif %}"
           href="{% url 'users:users_list' %}">Пользователи
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link link-dark
          {% if view_name  == 'about:info' %}active{% endif %}"
           href="{% url 'about:info' %}">Информация
        </a>
      </li>


      {% if user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link link-light
          {% if view_name  == 'users:password_change_form' %}active{% endif %}"
           href="{% url 'users:password_change_form' %}">Изменить пароль
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light
          {% if view_name  == 'users:logout' %}active{% endif %}"
           href="{% url 'users:logout' %}">Выйти
        </a>
      </li>
      <li class="nav-link link-dark">
        Пользователь: {{ user.username }}
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link link-light
          {% if view_name  == 'users:login' %}active{% endif %}"
           href="{% url 'users:login' %}">Войти
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light
          {% if view_name  == 'users:signup' %}active{% endif %}"
           href="{% url 'users:signup' %}">Регистрация
        </a>
      </li>
      {% endif %}
      {% endwith %}
    </ul>

  </div>
</nav>
