{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
   <div class="container" style="font-size: 18px">
    <h1> Эксплуатация автомобильного транспорта</h1>
    <div class="text">
      <p>
        <b>Работа транспортного цеха по оперативным заявкам заказчика</b>
      </p>
      <p>
        <h5>Описание:</h5>
      Приложение позволяет взаимодействовать структурным подразделениям предприятия с транспортным цехом (отделом).
      Структурные подразделения отправляют заявки на выделение транспорта (вид, количество, время и место подачи и т.д.), а транспортный цех (отдел) распределяет подвижной состав в соответствии с поставленными задачами.
      </p>
      <div class="text">
        <h5>Реализовано:</h5>
        <ul>
          <li>
            Форма подачи заявки с возможностью динамического добавления заявок в одной отправке
          </li>
          <li>
            Форма обработки заявок (форма распределения транспорта)
          </li>
          <li>
            Фильтрация заявок по дням (опциональный выбор даты просмотра/обработки заявок)
          </li>
          <li>
            Форма добавления транспортной единицы
          </li>
          <li>
            Частично реализована привязка заявки к департаменту-заказчику (требует переработки)
          </li>
          <li>
            API для подачи заявки
          </li>
        </ul>
      </div>
      <div>
        <h5>Планируется реализовать:</h5>
        <ul>
          <li>
            Добавить функцию обновления списка транспорта импортом из Excel-таблицы
          </li>
          <li>
            Переработать модели департаментов подающих заявки, привязать пользователя-заказчика к департаменту для автоматического закрепления поданой заявки к подразделению
          </li>
          <li>
            Сделать для пользователей модель с личными данными (ФИО, должностью, отделом и т.д.)
          </li>
          <li>
            Покрыть проект тестами (в особенности приложение заявок)
          </li>
        </ul>
      </div>
      <div>
        <h5>Отдаленная перспектива:</h5>
        <ul>
          <li>
            Расширить возможность импорта данных списка автотранспорта с указанием его технического состояния (расширение возможностей команды импорта данных из Excel-таблицы).
          </li>
          <li>
            Автоматизация распределения транспорта по заявкам (разработка машинного обучения)
          </li>
        </ul>
      </div>
      <div>
        <h5>Используемые технологии:</h5>
        <ul>
          <li>
            Python 3.9
          </li>
          <li>
            Django 3.2.16
          </li>
          <li>
            Django REST framework (DRF)
          </li>
        </ul>
      </div>
      <div>
        <p class="fw-bold">
          Исходный код приложения доступен по
          <a href="https://github.com/epatage/operation_of_automobile_transport">ссылке</a> на GitHub.
        </p>
      </div>
      <br>
    </div>
</div>
{% endblock %}
