{% extends 'base.html' %}
{% load static %}
{% load user_filters %}

{% block title %}
  Список заявок
{% endblock %}

{% block content %}
   {% include 'applications/includes/switcher.html' %}
  {# <h3> Список Заявок: {{ cars_count }} ед. </h3> #}
    {% include 'applications/includes/switcher_date.html' %}

<div class="container py-5">
  <div class="row justify-content-center">





<div class="container card-body">
  {# блок с датами #}
  <div class="container card-body">
    Data: {{ show_date }}

  <form method="post">{% csrf_token %}

  <div class="table">
    <table class="table table-light table-striped table-hover" id="formset">
      {{ formset.management_form }}
      {{ formset.non_form_errors.as_ul }}

      {% for form in formset.forms %}
        {% if forloop.first %}
        <thead>
          <tr>
            {% for field in form.visible_fields %}
            <th>{{ field.label|capfirst }}</th>
            {% endfor %}
          </tr>
        </thead>
        {% endif %}

        <tbody>
          <tr>
            {% for field in form.visible_fields %}
            <td>
              {# Include the hidden fields in the form #}
              {% if forloop.first %}
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
              {% endif %}
              {{ field.errors.as_ul }}
              {{ field }}
            </td>
            {% endfor %}
          </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>




{% comment %}
Реализация через дивы

<div class="container card-body">
  <form method="post">{% csrf_token %}

  <div class="table">
    <div>
      {{ formset.management_form }}
      {{ formset.non_form_errors.as_ul }}

      {% for form in formset.forms %}
        {% if forloop.first %}
        <div>

            {% for field in form.visible_fields %}
            <th>{{ field.label|capfirst }}</th>
            {% endfor %}

        </div>
        {% endif %}

        <div>
          <div>
            {% for field in form.visible_fields %}
            <td>
              {# Include the hidden fields in the form #}
              {% if forloop.first %}
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
              {% endif %}
              {{ field.errors.as_ul }}
              {{ field }}
            </td>
            {% endfor %}
          </div>

        {% endfor %}
      </div>
    </div>
  </div>

{% endcomment %}




      <div class="container">
        <div class="d-flex justify-content-end" >
          <button type="submit" class="btn btn-main">
            Закрытие
          </button>
        </div>
      </div>

  </form>
  </div>
</div>



</div>
</div>




{% endblock %}
