{% extends 'base.html' %}
{% load static %}
{% load user_filters %}

{% block title %}
  Список заявок
{% endblock %}

{% block content %}
   {% include 'applications/includes/switcher.html' %}
{#   <h3> Список Заявок: {{ cars_count }} ед. </h3>#}
{#  переключатлеь по дням месяца. Возможно, не нужен.  {% include 'applications/includes/switcher_date.html' %}#}

      <div>
        <form action="{% url 'applications:applications_list' year month day %}" method="get" >
          {{ date.management_form }}
          <div class="form-group">
            <div class="container-fluid text-center overflow-hidden">
              <div class="row ">
                <div class="col">
                  <div class="text fw-bold" style="font-size: larger">
                    Текущая дата : {{ year }} - {{ month }} - {{ day }}
                  </div>
                </div>
              </div>

              <div class="row justify-content-md-center">
                {% for field in date %}
                  <div class="col-md-auto">
                    {{ field.label_tag }}{{ field }}
                  </div>
                {% endfor %}

                <div class="col-lg-2">
                  <button name="update" type="submit" class="btn btn-main">
                    Обновить
                  </button>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>




<div class="container py-5">
  <div class="row justify-content-center">





<div class="container card-body">

  <form method="post" action="{% url 'applications:applications_list' year month day %}">
    {% csrf_token %}

  <div class="table">
    <table class="table table-light table-striped table-hover" id="formset">
      {{ formset.management_form }}
      {{ formset.non_form_errors.as_ul }}

      {% for form in formset.forms %}
        {% if forloop.first %}
        <thead>
          <tr>
            {% for field in form.visible_fields %}
            <th>{{ field.label|capfirst }}</th>
            {% endfor %}
          </tr>
        </thead>
        {% endif %}

        <tbody>
          <tr>
            {% for field in form.visible_fields %}
            <td>
              {# Include the hidden fields in the form #}
              {% if forloop.first %}
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
              {% endif %}
              {{ field.errors.as_ul }}
              {{ field }}
            </td>
            {% endfor %}
          </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>




{% comment %}
Реализация через дивы

<div class="container card-body">
  <form method="post">{% csrf_token %}

  <div class="table">
    <div>
      {{ formset.management_form }}
      {{ formset.non_form_errors.as_ul }}

      {% for form in formset.forms %}
        {% if forloop.first %}
        <div>

            {% for field in form.visible_fields %}
            <th>{{ field.label|capfirst }}</th>
            {% endfor %}

        </div>
        {% endif %}

        <div>
          <div>
            {% for field in form.visible_fields %}
            <td>
              {# Include the hidden fields in the form #}
              {% if forloop.first %}
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
              {% endif %}
              {{ field.errors.as_ul }}
              {{ field }}
            </td>
            {% endfor %}
          </div>

        {% endfor %}
      </div>
    </div>
  </div>

{% endcomment %}




      <div class="container">
        <div class="d-flex justify-content-end" >
          <button name="close" type="submit" class="btn btn-main">
            Закрытие
          </button>
        </div>
      </div>

  </form>

</div>



</div>
</div>




{% endblock %}
