{% extends 'base.html' %}
{% load static %}

{% block title %}
  Список заявок
{% endblock %}

{% block content %}
  {# <h3> Список Заявок: {{ cars_count }} ед. </h3> #}
  <hr>
  <div class="container">
    {% for car in cars %}  {# нужно все переделывать под заявки #}
      <p>
        {{ car.type }}
        {{ car.brand }}
        {{ car.reg_mark }}
        {% if car.column %}
          <a href="{% url 'cars:column' car.column.slug %}">{{ car.column }}</a>
        {% else %}
          <i>=АК не присвоена=</i>
        {% endif %}
      </p>

    {% if not forloop.last %}<hr>{% endif %}

    {% endfor %}
  </div>
   {% include 'applications/includes/paginator.html' %}
{% endblock %}
