{% extends 'base.html' %}
{% load static %}

{% block title %}
  Список заявок
{% endblock %}

{% block content %}
  {% include 'applications/includes/switcher.html' %}
  {# <h3> Список Заявок: {{ cars_count }} ед. </h3> #}

  <div class="container">
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th>№ п/п</th>
          <th>Марка ТС</th>
          <th>ГРЗ</th>
          <th>Тип ТС</th>
          <th>Маршрут движения</th>
          <th>Время подачи на БПО</th>
          <th>Время подачи на скважину</th>
          <th>Количество часов</th>
          <th>Примечание</th>
        </tr>
      </thead>
      <tbody>
        {% for application in formset %}  {# нужно все переделывать под заявки #}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ application.brand }}</td>
            <td>{{ application.reg_mark }}</td>
            <td>{{ application.type_car }}</td>
            <td>{{ application.route_movement }}</td>
            <td>{{ application.time_delivery_car_on_base }}</td>
            <td>{{ application.time_delivery_car_on_borehole }}</td>
            <td>{{ application.quantity_hours }}</td>
            <td>{{ application.note }}</td>
          </tr>



        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
