{% extends 'base.html' %}
{% load static %}

{% block title %}
    ТС {{ car|truncatechars:30 }}
{% endblock %}

{% block content %}
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Тип ТС: {{ car.type }}
            </li>
            <li class="list-group-item">
              Марка ТС: {{ car.brand }}
            </li>
            <li class="list-group-item">
              ГРЗ ТС: {{ car.reg_mark }}
            </li>
            <!-- если у поста есть группа -->

            <li class="list-group-item">
              Автоколонна: {{ car.column }}
              <a href="{% url 'cars:column' car.column.slug %}">
                все ТС подразделения
              </a>
            </li>
         {% comment %}
            <li class="list-group-item">
              Автор: <a href="{% url 'posts:profile' post.author.username  %}">
              {{ post.author.get_full_name }}
              </a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора:  <span >{{ post.author.posts.count }}</span>
            </li>
            <li class="list-group-item">
              <a href="{% url 'posts:profile' post.author.username %}">
                все посты пользователя
              </a>
            </li>
          {% endcomment %}

            <li class="list-group-item">
              <a href="{% url 'cars:car_edit' car.id %}">
                Редактировать
              </a>
            </li>


          </ul>
        </aside>
        <article class="col-12 col-md-9">
          <p>
            {{ car }}  + Какая-то дополнительная информация.
          </p>
        </article>
      </div>
{% endblock %}
