{% extends 'base.html' %}
{% load static %}

{% block title %}
  Список транспорта
{% endblock %}

{% block content %}
  <h3> Список транспорта: {{ cars_count }} ед. </h3>
  <a href="{% url "cars:car_add" %}">Добавить ТС</a>
  <hr>
  <div class="container">

  <table class="table table-light table-striped">
    <thead>
      <tr>
        <th>№ п/п</th>
        <th>Марка ТС</th>
        <th>ГРЗ</th>
        <th>Тип ТС</th>
        <th>Автоколонна</th>
      </tr>
    </thead>
    <tbody>


    {% for car in cars %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{car.brand}}</td>
        <td><a href="{% url "cars:car_detail" car.id %}">{{ car.reg_mark }}</a></td>
        <td>{{car.type}}</td>
        <td>
          {% if car.column %}
            <a href="{% url 'cars:column' car.column.slug %}">{{ car.column }}</a>
          {% else %}
            <i>=АК не присвоена=</i>
          {% endif %}
        </td>
      </tr>
    {% endfor %}

    </tbody>
  </table>

    {% comment %}
    {% for car in cars %}
      <p>
        {{ car.type }}
        {{ car.brand }}
        <a href="{% url "cars:car_detail" car.id %}">{{ car.reg_mark }}</a>
        {% if car.column %}
          <a href="{% url 'cars:column' car.column.slug %}">{{ car.column }}</a>
        {% else %}
          <i>=АК не присвоена=</i>
        {% endif %}
      </p>

    {% if not forloop.last %}<hr>{% endif %}

    {% endfor %}
    {% endcomment %}

  </div>
{% endblock %}
