{% extends 'base.html' %}
{% load static %}

{% block title %}
  Список транспорта
{% endblock %}

{% block content %}
  <h3> Список транспорта: {{ cars_count }} ед. </h3>
  <a href="{% url "cars:car_add" %}">Добавить ТС</a>
  <hr>
  <div class="container">
    {% for car in cars %}
      <p>
        {{ car.type }}
        {{ car.brand }}
        <a href="{% url "cars:car_detail" car.id %}">{{ car.reg_mark }}</a>
        {% if car.column %}
          <a href="{% url 'cars:column' car.column.slug %}">{{ car.column }}</a>
        {% else %}
          <i>=АК не присвоена=</i>
        {% endif %}
      </p>

    {% if not forloop.last %}<hr>{% endif %}

    {% endfor %}
  </div>
{% endblock %}
