{% extends 'base.html' %}
{% load static %}

{% block title %}
    Профайл пользователя {{ user.get_full_name }}
{% endblock %}

{% block content %}

  <div class="container py-5">

      <article>
        <ul>
          <li>
            <b>Фамилия:</b> {{ user.last_name }}
          </li>
          <li>
            <b>Имя:</b> {{ user.first_name }}
          </li>
          <li>
            <b>Отчество:</b> {{ user.patronypic }}
          </li>
          <li>
            <b>Должность:</b> {{ user.position }}
          </li>
          <li>
            <b>Подразделение:</b> {{ user.department }}
          </li>
          <li>
            <b>email:</b> {{ user.email }}
          </li>
        </ul>
      </article>

  </div>

{% endblock %}
